<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--默认语音VW Liang-->
    <add key="SelectVoice" value="VW Liang" />
  </appSettings>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" batch="false" targetFramework="4.0" />
  </system.web>
</configuration>
